.block__calc {
  display: block;
}
.b_calc--overlay {
  display: block;

  &.__left {

  }
  &.__right {

  }
}

.b_calc--img {
  display: block;
}

.b_calc--title {
  display: block;
}

.b_calc--layout {
  display: block;
}

.b_calc--button {
  display: block;
}

.b_calc--header {
  display: block;
}

.b_calc--description {
  display: block;
}
.b_calc--decor {
  display: block;
}
