.block__calc {
  display: block;
  font-size: 0;
}

.b_calc--overlay {
  display: inline-block;

  &.__left {
    padding-top: 45px;
    width: 40.5%;
  }
  &.__right {
    width: 59.5%;
  }
}

.b_calc--img {
  position: relative;
  left: -425px;
  display: block;
}

.b_calc--title {
  display: block;
  margin: 6px 0;
}

.b_calc--layout {
  display: block;
}


.b_calc--decor {
  display: block;
}
