.block__footer {
  display: block;
}

.b_footer--wrapper {
  display: block;
}

.b_footer--overlay {
  display: block;

  &.__padding {

  }
  &.__background {

  }
}

.b_footer--layout {
  display: block;

  &.__left {
    display: block;
  }
  &.__right {
    display: block;
  }
}

.b_footer--link {
  display: block;

  &.__small {
    display: block;
  }
}

.b_footer--decor {
  display: block;
}
.b_footer--logo {
  display: block;
}
.b_footer--img {
  display: block;
}
