.block__footer {
  display: block;

  .wrapper:after {
    content: '';
    clear: both;
    display: block;
  }
}

.b_footer--wrapper {
  display: block;
}

.b_footer--overlay {
  display: block;

  &.__padding {

  }
  &.__shadow{
    padding: 15px 0;
    background: rgba(0,0,0,.35);
  }
  &.__background {
    padding: 5px 0;
    background-color: #04162a;
  }
}

.b_footer--layout {
  display: inline-block;

  &.__left {
    float: left;
    display: inline-block;
  }
  &.__right {
    float: right;
    display: inline-block;
  }
}

.b_footer--link {
  display: inline-block;
  color:white;
  line-height: 20px;
  font-size: 14px;
  text-decoration: none;

  &.__small {
    display: inline-block;
  }
}


.b_footer--logo {
  display: inline-block;
}
.b_footer--img {
  display: inline-block;
}
