.block__form {
  display: block;
}
.b_form--row {
  display: block;
}
.b_form--tab {
  display: block;

  &.__active {
    display: block;
  }
}
.b_form--title {
  display: block;
}
.b_form--radio {
  display: block;

  &.__inline {
    display: block;
  }
}
.b_form--layout {
  display: block;
}
.b_form--select {
  display: block;
}
.b_form--label {
  display: block;
}
.b_form--button {
  display: block;
}
.b_form--input {
  display: block;
}
.b_form--textarea {
  display: block;
}